html {
    background-color: black;
    font-size: 12px;
    color: white;
    font-family: Consolas, monaco, monospace;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 75px;
}

.intro {
    display: flex;
    padding: 10px 30px;
    padding-top: 75px;
    position: fixed;
}

.heading-row {
    padding: 5px;
}

table {
    padding: 5px;
}

.wine {
    color: darkseagreen;
}

.wine-content {
    color: lightpink;
}

.search {
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

table {
    white-space: nowrap;
    font-size: 12px;
    table-layout:fixed;
}

td, th {
    border:1px solid black;
    width:1px;white-space:nowrap;
}
.wineDateTable {
    padding-top: 175px;
    border:1px solid black;
}
