html {
    background-color: black;
    font-size: 12px;
    color: white;
    font-family: Consolas, monaco, monospace;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.intro {
    padding: 10px 30px;
}

.heading-row {
    padding: 5px;
}

table {
    padding: 5px;
}

.wine {
    color: darkseagreen;
}

.wine-content {
    color: lightpink;
}

.search {
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

table {
    white-space: nowrap;
    font-size: 12px;
}